.container{
    width: 80rem;
    height: 40rem;
    background-color: rgba(139, 0, 0, 0.767);
    font-size: 4rem;
    
}

.page{
    color: white;
    font-weight: 900;
    font-family: fantasy;
}

.main{
    min-height: 100vh;
}