<mat-sidenav-container class="navigation">
    <mat-sidenav #sidenav>
        <ul fxLayout="column" fxLayoutGap="3rem">
            <div fxFlex fxLayoutAlign="start" class="sidenav">
                <ul fxLayout="column" fxLayoutGap="30px">
                    <li>
                        <a routerLink="welcome" (click)="sidenav.close()">Home</a>
                    </li>
                    <li>
                        <a routerLink="products" (click)="sidenav.close()">Products</a>
                    </li>
                    <li>
                        <a routerLink="signup" (click)="sidenav.close()">Signup</a>
                    </li>
                </ul>
            </div>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="navigation-toolbar" fxLayout="row">
            <div fxFlex="50%" fxLayoutAlign="start center" fxLayoutGap="2rem">
                <button mat-icon-button class="navigation-toolbar-icon" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <button mat-icon-button class="navigation-toolbar-icon">
                    <a routerLink="welcome" fxLayoutAlign="center center">
                        <mat-icon>home</mat-icon>
                    </a>
                </button>
            </div>

            <div fxFlex="50%" fxLayout fxLayoutAlign="end center">
                <ul fxLayoutGap="30px">
                    <li>
                        <a routerLink="welcome">Home</a>
                    </li>
                    <li>
                        <a routerLink="products">Products</a>
                    </li>

                    <li>
                        <a routerLink="signup">Signup</a>
                    </li>
                </ul>
                <div class="logo"><div class="logo-pic"></div></div>
            </div>
        </mat-toolbar>
        
            <router-outlet></router-outlet>
        
    </mat-sidenav-content>
</mat-sidenav-container>
