a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: gray;
}

ul,
li {
    display: inline;
    text-decoration: none;
}

mat-toolbar {
    // background-color: rgb(126, 109, 97)
    // background-image: linear-gradient(to bottom right,  rgb(245, 118, 33),white);
    //  background-image:linear-gradient(to bottom right,  rgb(121, 121, 201),rgb(206, 209, 221));
    background-color: black;

    // background-image: linear-gradient(to bottom right, rgba(7, 7, 7, 0.473),rgb(7, 7, 7,0.8));

    //  box-shadow: 10px 10px 8px #bacfe49c;
}

mat-icon {
    font-size: 3rem;
    color: white;
}

mat-sidenav {
    // background-color: rgb(126, 109, 97);
    // background-image: linear-gradient(to bottom right, rgba(7, 7, 7, 0.473),rgb(7, 7, 7,0.8));
    // background-color: coral;
    background-color: black;
    width: 25rem;
    font-size: 3rem;
}

mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
    height: 100%;
}

mat-sidenav-container {
    background-image: url("background-3.jpg");
    // background-image: linear-gradient(to bottom right, white , rgb(121, 121, 201));
    background-size: cover;
    background-repeat: no-repeat;
}

.sidenav {
    margin-left: 2rem;
    margin-top: 2rem;
}

.logo-container {
    height: 4rem;
}

.logo {
    height: 6rem;
    width: 6rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(logo.jpg);
    border-radius: 300px;
    margin-left: 2rem;
    //dd
}
