<mat-sidenav-container class="navigation">
    <mat-sidenav #sidenav>
        <ul fxLayout="column" fxLayoutGap="3rem">
            <div fxFlex fxLayoutAlign="start" class="sidenav">
                <ul fxLayout="column" fxLayoutGap="30px">
                    <li>
                        <a routerLink="/welcome" (click)="sidenav.close()" class="sidenav-elements"> Home</a>
                    </li>
                    <li>
                        <a routerLink="/products" (click)="sidenav.close()" class="sidenav-elements"> Products</a>
                    </li>
                    <li>
                        <a routerLink="/signup" (click)="sidenav.close()" class="sidenav-elements"> Signup</a>
                    </li>

                    <li>
                        <a routerLink="/contactus" (click)="sidenav.close()" class="sidenav-elements"> contactus</a>
                    </li>
                </ul>
            </div>
        </ul>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="navigation-toolbar" fxLayout="row">
            <div fxFlex="70%" fxLayoutAlign="start center" fxLayoutGap="2rem">
                <button mat-icon-button class="navigation-toolbar-icon" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>

                <!-- <button mat-icon-button class="navigation-toolbar-icon">
                    <a routerLink="welcome" fxLayoutAlign="center center">
                        <mat-icon>home</mat-icon>
                    </a>
                </button> -->
                <ul fxLayoutGap="30px">
                    <li>
                        <a routerLink="/welcome">Home</a>
                    </li>
                    <li>
                        <a routerLink="/products">Products</a>
                    </li>

                    <li>
                        <a routerLink="/signup">Signup</a>
                    </li>

                    <li>
                        <a routerLink="/contactus">Contact us</a>
                    </li>
                </ul>
            </div>
            <div fxFlex="30%"></div>

            <div fxFlex="70%" fxLayout fxLayoutAlign="end center">
                <ul fxLayoutGap="30px">
                    <li>
                        <a routerLink="/architecture">Architecture</a>
                    </li>

                    <li>
                        <a routerLink="/decoration">Decoration</a>
                    </li>

                    <li>
                        <a routerLink="/industrial">Industrial design</a>
                    </li>

                    <li>
                        <a routerLink="/graphic">Graphic</a>
                    </li>

                    <li>
                        <a routerLink="/photography">Photography</a>
                    </li>

                    <li>
                        <a routerLink="/music">Music</a>
                    </li>

                    <li>
                        <a routerLink="/webDesign">Web design</a>
                    </li>

                    <li>
                        <a>Gallery</a>
                    </li>
                </ul>
                <div class="logo" fxLayoutAlign="center center"><div class="logo-pic"></div></div>
            </div>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
