
  <ul fxLayoutGap="30px" fxLayout="row">
    <li>
        <a routerLink="/architecture">Architecture</a>
    </li>

    <li>
        <a routerLink="/decoration">Decoration</a>
    </li>

    <li>
        <a routerLink="/industrial">Industrial design</a>
    </li>

    <li>
        <a routerLink="/graphic">Graphic</a>
    </li>

    <li>
        <a routerLink="/photography">Photography</a>
    </li>

    <li>
        <a routerLink="/music">Music</a>
    </li>

    <li>
        <a routerLink="/webDesign">Web design</a>
    </li>

    <li>
        <a>Gallery</a>
    </li>
</ul>