<div class="main">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div class="main-1" fxLayoutAlign="center center"></div>
  </div>

  <div fxLayout="row">
    <div fxFlex>
      <div fxLayoutAlign="start center">
        <div class="main-2"></div>
      </div>
    </div>

    <div fxLayoutAlign="end center">
      <div class="main-4"></div>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center end">
    <div class="main-3" fxLayoutAlign="center center"></div>
  </div>
</div>
