
    <!-- <div >
        <ul fxLayoutGap="30px" fxLayout="row">
            <li>
                <a routerLink="/architecture">Architecture</a>
            </li>

            <li>
                <a routerLink="/decoration">Decoration</a>
            </li>

            <li>
                <a routerLink="/indtrialus">Industrial design</a>
            </li>

            <li>
                <a routerLink="/graphic">Graphic</a>
            </li>

            <li>
                <a routerLink="/photography">Photography</a>
            </li>

            <li>
                <a routerLink="/music">Music</a>
            </li>

            <li>
                <a routerLink="/webDesign">Web design</a>
            </li>

            <li>
                <a>Gallery</a>
            </li>
        </ul>
    </div> -->



   
        <mat-nav-list fxLayout="row" class="productNav"  fxLayoutAlign="center center">
            <a mat-list-item routerLink="/architecture" fxLayoutAlign="center center" class="style"> Architecture </a>
            <a mat-list-item routerLink="/decoration" fxLayoutAlign="center center" class="style"> Decoration </a>
            <a mat-list-item routerLink="/graphic" fxLayoutAlign="center center" class="style"> Graphic </a>
            <a mat-list-item routerLink="/industrial" fxLayoutAlign="center center" class="style"> IndustrialDesign </a>
            <a mat-list-item routerLink="/music" fxLayoutAlign="center center" class="style">  Music </a>
            <a mat-list-item routerLink="/photography" fxLayoutAlign="center center" class="style"> Photography </a>
            <a mat-list-item routerLink="/webDesign" fxLayoutAlign="center center" class="style"> WebDesign </a>
         </mat-nav-list>
    

<!-- <mat-tab-group class="style" fxLayoutGap="30px"> 
    <nav mat-tab-nav-bar routerLink="/architecture"  label="architecture"> </nav>
    <mat-tab label="Decoration"> Content 1 </mat-tab>
    <mat-tab label="Indtrialus"> Content 1 </mat-tab>
    <mat-tab label="Graphic"> Content 1 </mat-tab>
    <mat-tab label="Photography"> Content 1 </mat-tab>
    <mat-tab label="Music"> Content 1 </mat-tab>
    <mat-tab label="WebDesign"> Content 1 </mat-tab>
    <mat-tab label="Gallery"> Content 1 </mat-tab>
</mat-tab-group> -->
