.main {
    height: 100vh;
    color: white;
    font-size: 3rem;
}

.main2 {
    width: 50%;
}

.main-1 {
    width: 30rem;
    height: 30rem;
    // background-image: url("../../assets/products-1.jpeg");
    font-size: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40rem;
    margin-top: 4rem;
    // box-shadow: 10px 10px 8px #1e3b579c;
}

.main-2 {
    width: 30rem;
    height: 30rem;
    // background-image: url("../../assets/products-2.jpeg");
    font-size: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40rem;
    margin-left: 4rem;

    // box-shadow: 10px 10px 8px #1e3b579c;
}

.main-3 {
    width: 30rem;
    height: 30rem;
    // background-image: url("../../assets/products-3.jpeg");
    font-size: 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40rem;
    // box-shadow: 10px 10px 8px #1e3b579c;
    margin-bottom: 4rem;
}

.main-4 {
    width: 30rem;
    height: 30rem;
    // background-image: url("../../assets/products-4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 4rem;
    // box-shadow: 10px 10px 8px #1e3b579c;
    margin-right: 4rem;
    border-radius: 40rem;
}
