.main-container{
    height: 100vh;
    
}

.logo{
    background-image: url(src\assets\LOGO-bw.png);
    width:8rem;
    height:8rem;
    background-size: cover;
    margin-bottom: 2rem;
}

a{
    text-decoration: none;
    font-size:4rem;
    color: black;
}

.navigation-container{
   
}
.navigation-button{
    background-image: linear-gradient(to right,white,black);
  height: 6rem;
    
}

// .logo-container{
//     width:10rem;
//     height:10rem;
//     background-color: black;
//     opacity: 0.5;
// }