<section class="signup" fxLayoutAlign="center start">
      <mat-card>
         <mat-card-title>Sign up</mat-card-title>
         <form formGroup="signUpForm">

            <mat-form-field appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput formContorName="firstName">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Last name</mat-label>
                <input matInput formContorName="lastName">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formContorName="email">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
              </mat-form-field>

         </form>
     </mat-card>
</section>