<div class="main-container">
    <mat-nav-list fxLayout="row" class="productNav" fxLayoutAlign="center center">
        <a mat-list-item routerLink="./architecture" fxLayoutAlign="center center" class="style"> Architecture </a>
        <a mat-list-item routerLink="./decoration" fxLayoutAlign="center center" class="style"> Decoration </a>
        <a mat-list-item routerLink="./graphic" fxLayoutAlign="center center" class="style"> Graphic </a>
        <a mat-list-item routerLink="./industrial" fxLayoutAlign="center center" class="style"> IndustrialDesign </a>
        <a mat-list-item routerLink="./music" fxLayoutAlign="center center" class="style"> Music </a>
        <a mat-list-item routerLink="./photography" fxLayoutAlign="center center" class="style"> Photography </a>
        <a mat-list-item routerLink="./webDesign" fxLayoutAlign="center center" class="style"> WebDesign </a>
    </mat-nav-list>

    <router-outlet></router-outlet>
</div>
