.productNav {
    background-color: black;
    font-weight: 900;
    padding-top: 0;
}

.productNav a {
    color: white;
}
.style:hover {
    background-color: gray;
}

// .main-container {
//     min-height: 100vh;
//     background-image: url(src\assets\products.jpg);
//     background-size: cover;
// }
